<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>

    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <script type="text/javascript"

            src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript"
            src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://localhost:5000');
        socket.on('connect', function () {
            socket.on('mqtt', function (msg) {
                var elmarr = msg.topic.split("/");
                var elm = elmarr[3];
                console.log(msg.topic + ' ' + msg.payload);
                $('#'.concat(elm)).html(msg.payload);
            });
            socket.emit('subscribe', {topic: '/sensor/OTGW/returntemp'});
        });
    </script>

</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Home Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>email</strong>: <%= user.local.email %><br>
                    <strong>password</strong>: <%= user.local.password %>
                </p>

            </div>
        </div>

        <!-- HOME INFORMATION -->

        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Components</h3>

                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>Owner of House</strong>: <%= user.components.ownerOf %><br>
                    <strong>Resident of Houses</strong>: <%= user.components.residentOf %><br>
                    <strong>Guest of Houses</strong>: <%= user.components.guestOf %>
                </p>

            </div>
        </div>

        <div class="col-sm-3">
            <a href="/addDevice" class="btn btn-default btn-sm">Add a Device</a>
        </div>
        <br>

        <div class="col-sm-3">
            <a href="/addHome" class="btn btn-default btn-sm">Add a Home</a>
        </div>
    </div>

    <input name="led" checked='checked' class='yesno' type='checkbox' onclick="callme()"/>


    <table class="tablegv" style="width: 500px;">
        <tbody>
        <tr class="tablegvHeader">
            <td colspan="2">
                <center>Status</center>
            </td>
        </tr>
        <tr>
            <td>Return temp</td>
            <td id="returntemp"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
