<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>

    <script>
        $(document).ready(function() {
            $(':checkbox').iphoneStyle({
                onChange: function(elem,val) {
                    if (val) {
                        socket.emit('publish', {topic:"led",payload:"on"});
                    } else {
                        socket.emit('publish', {topic:"led",payload:"off"});
                    }
                }
            });
        });
    </script>

    <script>
        var socket = io.connect('192.168.1.116:5000');
        socket.on('connect', function () {
            socket.on('mqtt', function (msg) {
                console.log(msg.topic+' '+msg.payload);
                if (msg.payload == "off") {
                    if ($('input[name=led]').is(':checked')) {
                        $('input[name=led]').prop('checked',false).change();
                    }
                }
                if (msg.payload == "on") {
                    if (!$('input[name=led]').is(':checked')) {
                        $('input[name=led]').prop('checked',true).change();
                    }
                }
            });
            socket.emit('subscribe',{topic:'led'});
        });
    </script>

</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>email</strong>: <%= user.local.email %><br>
                    <strong>password</strong>: <%= user.local.password %>
                </p>

            </div>
        </div>

        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Components</h3>

                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>Owner of House</strong>: <%= user.components.ownerOf %><br>
                    <strong>Resident of Houses</strong>: <%= user.components.residentOf %><br>
                    <strong>Guest of Houses</strong>: <%= user.components.guestOf %>
                </p>

            </div>
        </div>

    </div>

    <input name="led" checked='checked' class='yesno' type='checkbox' />

</div>
</body>
</html>
